*{
  margin: 0px;
}
#root {
  background-color:#000;
  color:#fff;
}
#root .top h1{
  color:#fff;
}
#root .top {
  display: flex;
  justify-content:space-between,
    }
#root .page{
  max-width: 89%;
  margin:25px auto;
}
